<p style="font-size:30px;">
Level 1

<p style="font-size:30px;">
Task 2: City Analysis

In [8]:
import pandas as pd

# Use absolute path to load the CSV file
file_path = r"C:\Users\tarun\Desktop\Python\Dataset .csv"

In [9]:
# Load the dataset 
df = pd.read_csv("Dataset .csv")

<p style="font-size:20px;">
Identify the city with the highest number of restaurants in the dataset.

In [10]:
# Count the occurrences of each city to find the number of restaurants
city_data = df["City"]
city_count = city_data.value_counts()

In [11]:
print("City with the highest number of restaurants in the dataset is:")

#prints the index label of the first row with the number of restaurants
print(city_count.index[0])
print(city_count.iloc[0])

City with the highest number of restaurants in the dataset is:
New Delhi
5473

<p style="font-size:20px;">
Calculate the average rating for restaurants in each city and determine the city with the highest average rating.

In [12]:
#The average rating for restaurants in each city
average_ratings = df.groupby('City')['Aggregate rating'].mean()
print(average_ratings)

City
Abu Dhabi          4.300000
Agra               3.965000
Ahmedabad          4.161905
Albany             3.555000
Allahabad          3.395000
                     ...
Weirton            3.900000
Wellington City    4.250000
Winchester Bay     3.200000
Yorkton            3.300000
��stanbul          4.292857
Name: Aggregate rating, Length: 141, dtype: float64

In [7]:
#The city with the highest average rating
print(average_ratings.index[0])

Abu Dhabi